@media (max-width: 850px) {

    .mobile-menu {
        display: block;
    }

    nav {
        position: absolute;

        top: 80px;

        left: 0;

        right: 0;

        display: none;

        flex-direction: column;

        align-items: stretch;

        gap: 0;

        padding: 15px;

        background: #080808;
    }

    nav.open {
        display: flex;
    }

    nav a {
        padding: 14px;
    }

    .hero {
        min-height: 750px;
    }

    .hero h1 {
        letter-spacing: -4px;
    }

    .hero-buttons {
        flex-direction: column;

        max-width: 300px;
    }

    .primary-button,
    .secondary-button {
        text-align: center;
    }

    .team-grid {
        grid-template-columns: 1fr;
    }

    .stats-section {
        grid-template-columns: 1fr;
    }

    .stat {
        border-right: 0;

        border-bottom:
            1px solid var(--border);
    }

    .stat:last-child {
        border-bottom: 0;
    }

    .footer-container {
        grid-template-columns: 1fr;
    }

}
